:root {
    --black_color: #373737;
    --sky_blue_color: #57A8D6;
    --marine_blue_color: #05396A;
    --white_color: #ffffff;
}


body {
    font-family: Arial, sans-serif;
}



header>h1 {
    display: flex;
    justify-content: center;
}

header>figure {
    display: flex;
    justify-content: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

select {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: var(--sky_blue_color);
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: var(--marine_blue_color);
}

table {
    border-collapse: collapse;
    border: 2px solid var(--black_color);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    margin-left: 29%;
}

caption {
    caption-side: top;
    padding: 10px;
    font-weight: bold;
}

thead {
    background-color: var(--sky_blue_color);
}

th,
td {
    border: 1px solid var(--black_color);
    padding: 8px 10px;
}

td {
    text-align: center;
}

tbody>tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}